/* App.css */

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.todo-form {
  display: flex;
  margin-bottom: 20px;
}

.todo-form input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.todo-form button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.todo-form button:hover {
  background-color: #0056b3;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todo-list input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.todo-list button {
  margin-left: 10px;
  padding: 6px 10px;
  font-size: 14px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
}

.todo-list button:hover {
  background-color: #c82333;
}
